body {background-color: #fceeff; font-family: 'Lora', serif; color:#75168d;}
nav {
    display:flex;
    justify-content: space-between;
    background-color:#fceeff;
    font-size: 130%;
    font-family:'Courier New', Courier, monospace;
    color: #851e9e;
    margin-bottom:80px; text-align:center;
    }
nav a:hover {
    background-color:#e7cbff; text-decoration:unset;      
    color:#4c0fdb;}

    .head {display:flex; flex-wrap:wrap;}
    .head div {flex:1;}

h1 {text-align: left; margin-bottom:30px; letter-spacing:2px; margin-left:10px;}
h2 {font-size: 18px;}
h1, h2 {font-family: 'Lora', serif;}
footer {background-color:#851e9e; color:#ffffff; margin-top:30px; padding:22px; line-height: 2em;}
footer a {color:#ffffff;}
        .mainflexbox {display:flex; margin:20px;}
        .rightcolumn {flex:1;}
        .leftcolumn {flex:8;} 

@media only screen and (max-width:630px) 
{ 
footer {display:flex; font-size:80%; padding:none; margin:none;}
h2 {font-size:110%;}
.mainflexbox {margin:none;}
.rightcolumn {flex:1;}
.leftcolumn {flex:2; margin-right:24px;}
nav {font-size:94%; display:block; text-align:left; background-color:#851e9e; margin-top:30px; padding:22px; line-height: 2em;}
nav a{color:#ffffff;}
.divider {display:none;}
h1 {font-size:180%;}
}
